<div class = "sidebar">
	<div class = "box"><div style = "width:200px">
		<video class="a_video" width="200" height="150" controls="controls" loop="loop" autoplay muted>
		  <source src="http://jamesfwright.com/townproject/video/everest_3.webm" type="video/mp4" />
		  <source src="http://jamesfwright.com/townproject/video/WOD110120.ogv" type="video/ogg" />
		  Your browser does not support the video tag.
		</video>
	</div><p>Men's</p></div>
	<div class = "box"><div style = "width:200px">
		<video class="a_video" width="200" height="150" controls="controls" loop="loop" autoplay muted>
		  <source src="http://jamesfwright.com/townproject/video/everest_6.webm" type="video/mp4" />
		  <source src="http://jamesfwright.com/townproject/video/WOD110122.ogv" type="video/ogg" />
		  Your browser does not support the video tag.
		</video>
	</div><p>Hello</p></div>
	<div class = "box"><div style = "width:200px">
		<video class="a_video" width="200" height="150" controls="controls" loop="loop" autoplay muted>
		  <source src="http://jamesfwright.com/townproject/video/everest_9.webm" type="video/mp4" />
		  <source src="http://jamesfwright.com/townproject/video/WOD110205.ogv" type="video/ogg" />
		  Your browser does not support the video tag.
		</video>
	</div><p>Hello</p></div>
</div>

<div class="product"><div class="close"></div>
	<h1>Some info</h1>
	<br />
	<div class="description">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus at consequat velit. Etiam varius posuere mauris eu rutrum. Mauris quis faucibus turpis. Sed at nibh ac sem eleifend hendrerit. In placerat nunc at urna volutpat vel scelerisque ligula ultrices. Donec et arcu risus, id malesuada augue. Aliquam gravida dignissim pharetra. Sed a convallis felis. Sed euismod interdum ornare. Sed vitae eleifend sapien. Duis interdum, nisi non pellentesque ornare, sem diam aliquet quam, quis tempor est nunc vitae nulla. In sit amet vulputate metus. Duis erat enim, tempus ut porttitor nec, auctor a mi. In sed leo vel nulla auctor porta sit amet eu neque. Donec dictum accumsan tellus eu sagittis. Duis ullamcorper, eros eu imperdiet condimentum, nulla odio fringilla ligula, et tempus metus mi sit amet dolor. Etiam nec est diam. Fusce et ultricies sapien. Fusce tempor iaculis elit, eu commodo augue eleifend ut.</p>
		<p>Curabitur lobortis volutpat justo a lobortis. Sed commodo euismod enim ac condimentum. Nulla et ante vitae sem tristique accumsan et eu mi. Proin quis massa et velit tincidunt iaculis ut id eros. Sed a congue massa. Ut eu faucibus orci. Sed sodales fringilla varius. Integer vestibulum, est ut tempor sodales, mauris arcu posuere libero, vitae hendrerit dui tellus at tortor. Aenean eget gravida erat. Aenean porttitor interdum nunc eu eleifend. Proin tincidunt erat eget turpis dictum malesuada viverra leo dignissim. Duis condimentum odio mattis tortor tincidunt placerat. Sed metus tortor, dignissim convallis ornare quis, posuere ut sapien. Morbi nec erat ut neque varius porta.</p>
	</div>
	<div class="item">
		<%= image_tag 'everest.png'%>
	</div>
</div>
<video class="a_video" width="600" height="450" controls="controls" loop="loop" autoplay muted>
  <source src="http://jamesfwright.com/townproject/video/everest_13.webm" type="video/mp4" />
  <source src="http://jamesfwright.com/townproject/video/WOD110119.ogv" type="video/ogg" />
  Your browser does not support the video tag.
</video>
<div class="moreinfo"><h1>more info</h1><%= image_tag 'more.png' %></div>